/*设置一些常用的标签的属性为0*/
body,h1,h2,h3,h4,h5,h6,ul,p{
	margin: 0px;
	padding: 0px;
}
/*设置字体大小继承于body标签*/
h1,h2,h3,h4,h5,h6{
	font-size: 100%;
}
/*去掉默认的项目符号*/
ul{
	list-style: none;
}
em{
	font-style: normal;
}
a{
	text-decoration: none;
}
/*设置兼容性，去掉zaiie下边的img标签的边框*/
img{
	border:none;
}
/*设置清除浮动和解决margin-top塌陷的固定句式*/
.clearfix:before,.clearfix:after{
	content: "";
	display: table;
}
.clearfix:after{
	clear:both;
}
.clearfix{
	zoom:1;
}
/*设置左右浮动*/
.fl{
	float: left;
}
.fr{
	float: right;
}